<div class="header">
  <h2>Lista de Entradas de Mercancia</h2>
</div>

<div class="body">
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <tfoot>
        <tr>
          <th><input type="text" class="form-control" placeholder="Buscar Numero de Documento" /></th>
          <th><input type="text" class="form-control" placeholder="Buscar Sucursal" /></th>
          <th><input type="text" class="form-control" placeholder="Buscar Status" /></th>
          <th><input type="text" class="form-control" placeholder="Buscar Fecha" /></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
