<app-products-barcode
  [updateObservable]="updateSubject.asObservable()"
></app-products-barcode>

<app-modal id="products-detail-modal">
  <h1>Detalle de Producto</h1>

  <div class="row">
    <div class="col-4">
      <label>Codigo</label>
      {{ ProductRow?.ItemCode }}
    </div>
    <div class="col-4">
      <label>Nombre</label>
      {{ ProductRow?.ItemName }}
    </div>
    <div class="col-4">
      <label>Contada Undiad de Medida {{ ProductRow?.UomCode1 }}</label>
      {{ ProductRow?.Quantity }}
    </div>
    <div class="col-4">
      <label>Contada Unidad de Medida {{ ProductRow?.Uom2Display }}</label>
      {{ ProductRow?.Quantity2 }}
    </div>
    <div class="col-4">
      <label>Teorica Unidad Medida {{ ProductRow?.UomCode1 }}</label>
      {{ ProductRow?.InvQuantity }}
    </div>
    <div class="col-4">
      <label>Teorica Unidad de Medida {{ ProductRow?.Uom2Display }}</label>
      {{ ProductRow?.InvQuantity2 }}
    </div>
    <div class="col-4">
      <label>Desviacion Unidad de Medida {{ ProductRow?.UomCode1 }}</label>
      {{ ProductRow?.Deviation }}
    </div>
    <div class="col-4">
      <label>Desviacion Unidad de Medida {{ ProductRow?.Uom2Display }}</label>
      {{ ProductRow?.Deviation2 }}
    </div>
    <div class="col-4">
      <label>Precio Total Escaneado</label>
      {{ProductRow?.Total}} {{ProductRow?.CurrencyDisplay}}
    </div>
  </div>

  <div class="table-responsive">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover"
    >
      <tfoot>
        <tr>
          <th>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar Cantidad"
            />
          </th>
          <!-- <th><input type="text" class="form-control" placeholder="Buscar Cantidad2" /></th> -->
          <th>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar Encargado"
            />
          </th>
          <th>
            <input type="text" class="form-control" placeholder="Buscar Zona" />
          </th>
          <th>
            <input
              type="text"
              class="form-control"
              placeholder="Buscar Fecha"
            />
          </th>
          <th>
            
          </th>
        </tr>
        <tfoot></tfoot>
      </tfoot>
    </table>
  </div>

  <!-- <button class="btn btn-danger" (click)="modalService.close('products-modal')">Close</button> -->
  <!-- <button class="btn btn-success" (click)="SelectProducts()">Seleccionar</button> -->
</app-modal>
