<div class="header">
  <button (click)="backClicked()" class="btn btn-primary btn-right">
    Regresar
  </button>
  <h2>Inventario - Detalle</h2>
</div>

<div class="body">
  <div class="row" *ngIf="Document">
    <div class="col-6">
      <label>Numero De Inventario</label>
      {{ Document.ID }}
    </div>

    <div class="col-6">
      <label>Responsable</label>
      {{ Document.Name }}
    </div>

    <div class="col-6">
      <label>Fecha De Inventario</label>
      {{ Document.DateCreated }}
    </div>

    <div class="col-6">
      <label>Status</label>
      {{ Document.Status }}
    </div>

    <div class="col-6">
      <button (click)="generateExcel()" class="btn btn-success export-button">
        Generar Excel
      </button>
      <button (click)="generateTxt()" class="btn btn-primary export-button">
        Generar Txt
      </button>
    </div>

    <div class="col-6">
      <label>Tipo de Producto</label>
      <select
        class="custom-select"
        [(ngModel)]="PropertySelected"
        (ngModelChange)="propertyChange()"
      >
        <option [ngValue]="property" *ngFor="let property of PropertyList">
          {{ property.label }}
        </option>
      </select>
    </div>

    <div class="col-6">
      <button
        *ngIf="Document.StatusId == 2"
        type="button"
        (click)="close()"
        class="btn btn-danger option-button"
      >
        Cerrar Inventario
      </button>
      <button
        *ngIf="Document.StatusId == 1"
        type="button"
        (click)="begin()"
        class="btn btn-primary option-button"
      >
        Empezar Inventario
      </button>
      <!-- <button
        *ngIf="Document.StatusId == 2"
        type="button"
        (click)="updateStock()"
        class="btn btn-warning option-button"
      >
        Actualizar Stock
      </button> -->
    </div>

    <!-- <div class="table-responsive">
      <table datatable #dtProducts [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <tfoot>
          <tr>
            <th></th>
            <th><input type="text" class="form-control" placeholder="Buscar Codigo de Producto" /></th>
            <th><input type="text" class="form-control" placeholder="Buscar Producto" /></th>
          </tr>
          <tfoot>
      </table>
    </div> -->
  </div>

  <div class="row">
    <div class="col-12">
      <app-product-detail-list
        [updateObservable]="updateSubject.asObservable()"
      ></app-product-detail-list>
    </div>
  </div>
</div>
