<app-modal id="products-modal">

  <h1>Products</h1>
  <div class="table-responsive">
    <table datatable #dtProducts [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <tfoot>
        <tr>
          <th></th>
          <th><input type="text" class="form-control" placeholder="Buscar Codigo de Producto" /></th>
          <th><input type="text" class="form-control" placeholder="Buscar Producto" /></th>
        </tr>
        <tfoot>
    </table>
  </div>
  <!-- <button class="btn btn-danger" (click)="modalService.close('products-modal')">Close</button> -->
  <button class="btn btn-success" (click)="SelectProducts()">Seleccionar</button>

</app-modal>
