<div class="table-responsive">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <tfoot>
      <tr>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
        <th><input type="text" class="form-control" placeholder="Buscar " /></th>
      </tr>
      <tfoot>
  </table>
</div>


<app-products-detail [updateObservable]="updateSubject.asObservable()"></app-products-detail>
