<!-- <nav class="navbar navbar-dark justify-content-between">
  <a class="navbar-brand">
    <img src="assets/images/logo.png" alt="" />
  </a>

  <div class="right">
    <a [routerLink]="['/notifications']">
      <i class="material-icons">notifications</i>
      <span class="label-count bg-red"> 0</span>
    </a>

  </div>
</nav> -->

<nav class="navbar bg-dark shadow">
  <a class="navbar-brand col-sm-3 col-md-2" href="#">CCFN WMS</a>
  <ul class="navbar-nav px-3">
    <li class="text-nowrap">
      <app-logout></app-logout>
    </li>
  </ul>
</nav>
