<div class="header">
  <button (click)="backClicked()" class="btn btn-primary btn-right">Regresar</button>
  <h2>Entrada de Mercancia - Detalle</h2>
</div>

<div class="body">
  <div class="row" *ngIf="goodsIssue">

    <div class="col-12 subtitle">
      <h2>Información Basica</h2>
    </div>

    <div class="col-sm-6">
      <label>Numero de Documento</label>
      {{goodsIssue.DocNum}}
    </div>

    <div class="col-6">
      <label>Fecha del Documento</label>
      {{goodsIssue.DocDate }}
    </div>

    <div class="col-6">
      <label>Estatus del Documento</label>
      {{goodsIssue.DocStatus}}
    </div>

    <div class="col-6">
      <label>Sucursal que Surte</label>
      {{goodsIssue.WhsName}}
    </div>

    <div class="col-12 subtitle">
      <h2>Productos</h2>
    </div>

    <div class="table-responsive col-12">
      <table class="table">
        <thead>
          <th>Codigo</th>
          <th>Productos </th>
          <th>Cantidad PU</th>
          <th>Cantidad SU </th>
        </thead>
        <tbody>

          <tr *ngFor="let product of goodsIssue.Lines">
            <td>{{ product.ItemCode }}</td>
            <td>{{ product.Dscription }}</td>

            <td>{{ product.Quantity | number : '1.2' }} {{ product.UomCode }}</td>

            <td>{{ product.InvQty | number : '1.2'}} {{ product.UomCode2 }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
