<form>
  <div class="form-group row">
    <div class="col-6">
      <div class="form-group row">
        <div class="form-group col-4">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="Scanner" id=""
              [(ngModel)]="checkScanner" checked>
            Uso Scanner </label>
        </div>
        <div class="form-group col-8">
          <label for="date" class="sr-only">Dia:</label>
          <input name="date" [(ngModel)]="today" type="date" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="Gafete" class="col-sm-2 col-form-label col-form-label-lg">Gafete</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" (keyup)="VerifyGafete($event.target.value)"  #Gafete placeholder="Gafete">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-lg" for="Invoice">Scanear
          y/o Num.Doc:</label>
        <div class="col-sm-10">
          <input  type="text" maxlength="10" name="InvNumber" #InvoiceInput class="form-control" id="Invoice"
            placeholder="Numero de factura" [disabled]="!IfGafete" [(ngModel)]="InvoiceInfo.DocNum">
            
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input name="" id="" class="btn btn-secondary btn-block" (click)="Search()" type="button" value="Buscar"></div>
        <div class="col">
          <input name="" id="" class="btn btn-danger btn-block" (click)="CancelClick()" type="button" value="Cancelar"></div>
        <div class="col">
          <input name="" id="" class="btn btn-primary btn-block"  type="button" value="Quemar"></div>
      </div>
    </div>
    <div class="col">
      <div class="border border-primary" style="height:
        100%;text-align:center;">
        <p>NO SE TIENE REGISTRO DE FACTURAS</p>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-6">
      <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label col-form-label-lg">Num.Factura</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" id="InvNumberEn" name="InvNumberEn"
            placeholder="Num.Factura"  [(ngModel)]="InvoiceInfo.DocNum">
        </div>
      </div>
      <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label col-form-label-lg">Cod.
          Cliente</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" id="Email"
            placeholder="Cod. Cliente" [(ngModel)]="InvoiceInfo.CardCode" name="CodClient">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-lg" for="Invoice">Nom.
          Cliente</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" id="Invoice"
            placeholder="Nom. Cliente" [(ngModel)]="InvoiceInfo.CardName" name="CardName">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-lg" for="Invoice">Nom.
          Fantasia</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" id="Invoice"
            placeholder="Nom. Fantasia" [(ngModel)]="InvoiceInfo.CardFName" name="CardFName">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label col-form-label-lg">Nombre
          Usuario:</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" id="Email"
            placeholder="Nombre Usuario">
        </div>
      </div>
      <div class="form-group row">
        <label for="Email" class="col-sm-2 col-form-label col-form-label-lg">Hora
          de Quemado:</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" id="Email"
            placeholder="Hora quemado">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-lg" for="Invoice">Fecha
          de Quemado:</label>
        <div class="col-sm-10">
          <input type="text" disabled class="form-control" id="Invoice"
            placeholder="Fecha quemado">
        </div>
      </div>

    </div>
  </div>
</form>
