<div class="header">
  <h2>Facturas - Quemado</h2>
</div>


<div class="body">
  <div class="row">
    <div class="col-2">
      <label>Uso Escánner</label>
      <input  type="checkbox" value="" id="flexCheckDefault"  checked [(ngModel)]="scanner">
    </div>
    <div class="col-6">
      <label>Factura</label>
      <input
          id="input-codigo"
          type="text"
          class="form-control"
          [(ngModel)]="factura"
          placeholder="Ingresa Una Factura"
          autocomplete="nope"
        />
    </div>
    <div class="col-auto">
      <label>--</label>
      <button class="btn btn-primary" (click)="searchInCCFN()"> Buscar </button>
    </div>
    <div class="col-auto">
      <label>--</label>
      <button class="btn btn-danger" (click)="CancelClick()"> Cancelar </button>
    </div>
    <div class="col-auto">
      <label>--</label>
      <button class="btn btn-success" (click)="burnInvoice()"> Quemar </button>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <label>Número de Factura</label>
      <input
          type="text"
          class="form-control"
          value="{{InvoiceInfo.DocNum}}"
          disabled
        />
    </div>
    <div class="col-4">
      <label>Nombre de Cliente</label>
      <input
          type="text"
          class="form-control"
          value="{{InvoiceInfo.CardName}}"
          disabled
        />
    </div>
    <div class="col-4">
      <label>Nombre Fantasía</label>
      <input
          type="text"
          class="form-control"
          value="{{InvoiceInfo.CardFName}}"
          disabled
        />
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <label>Tipo de Moneda</label>
      <input
          type="text"
          class="form-control"
          value="{{InvoiceInfo.DocCur}}"
          disabled
        />
    </div>
    <div class="col-4">
      <label>Fecha de Documento</label>
      <input
          type="text"
          class="form-control"
          value="{{InvoiceInfo.DocDate}}"
          disabled
        />
    </div>
    <div class="col-4">
      <label>Código de Barra</label>
      <input
          type="text"
          class="form-control"
          value="{{InvoiceInfo.CodBar}}"
          disabled
        />
    </div>
  </div>
</div>
